*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('//db.onlinewebfonts.com/c/164a60c2e090248befbcf32fdd5af386?family=LuloCleanOne-Bold');
@font-face{
    font-family: 'Lulo';
    src: url(../fonts/FontsFree-Net-Lulo-Clean-W01-One-Bold.ttf);
}
nav{
    background-color: transparent;
}
.section{
    width: 100% !important;
    position: absolute;
}
h2{
    font-family: 'Lulo', sans-serif;
}
body{
    background-color: #E7E7E2;
}
ul li a{
    text-transform: uppercase;
}
.banner-image {
    background-image: url('../img/sounds1.jpg');
    background-size: cover;
}
.drop{
    box-shadow: 6px 6px 10px #000;
}
.text {   text-shadow: 0 0 10px rgba(0, 0, 0, 0.377); }